<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ваши результаты</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body class="container">
<div class="panel panel-primary">
    <div class="panel-heading"><h1>Помощь</h1></div>
    <div class="panel-body"><ul class="list-group">
            <li class="list-group-item">1) (по желанию) Создать или войти в свой аккаунт для сохранения работ</li>
            <li class="list-group-item">2) Ознакомится с существующими режимами</li>
            <li class="list-group-item">3) Выбрать интересующие режимы</li>
            <li class="list-group-item">4) (обязательно) Выбрать ширину окончательного изображения</li>
            <li class="list-group-item">5) Выбрать необязательные настройки</li>
            <li class="list-group-item">6) Нажать на кнопку Сгенерировать</li>
            <li class="list-group-item">7) Ваши работы будут сгенерированы и показаны вам</li>
            <li class="list-group-item">8) Если вы также можете посмотреть сохраненные работы нажав на кнопку Просмотреть работы</li>
            <li class="list-group-item">9) Вы можете удалить плохие изображния</li>
            <li class="list-group-item">Ширина - параметр обязательный для всех режимов</li>
            <li class="list-group-item">Количество блоко или количество проходов требуется для всех режимов кроме 5</li>
            <li class="list-group-item">Порог требуется только для режима 7</li>
            <li class="list-group-item">Строка для рандомизации требуется для всех режимов кроме 6,7,9</li>
            <li class="list-group-item">Изображение требуется загружать для 6,7,9</li>
            <li class="list-group-item">Хороших работ!</li>
        </ul></div>
    <div class="panel-footer">
        <a class="btn btn-primary" href="/">На главную</a>
    </div>
</div>
</body>
</html>
