<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Сервис по хеш-графики</title>
    <link rel="stylesheet" href="style.css" />
    <style>
        .container{
            margin-top:1em;
        }
        .profiles{
            text-align:right;
        }
        #text{
            margin:0.1em;
        }
    </style>
</head>
<body class="container">
    <div class="panel panel-default">
      <div class="panel-default">
          <h1>Hash Grapher</h1>
      </div>
    </div>
    <div class="profiles">
          {% if auth %}
            <h4>{{ name }}<a class="label label-default" href="/logout">Выйти</a></h4>
            <a class="btn btn-primary" href="/view">Просмотреть результаты</a>
          {% endif %}
          <p>
              <a class="btn btn-primary" href="/help">Получить помощь</a>
          {% if not auth %}
              <a class="btn btn-danger " href="/register">Зарегистрироваться</a>
              <a class="btn btn-success" href="/login">Войти</a>
          {% endif %}
          </p>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading"><h3 id="text">Что сервис позволяет делать</h3></div>
        <ul class="list-group">
            <li class="list-group-item">Создание случайного шума</li>
            <li class="list-group-item">Создание абстрактной иконки</li>
            <li class="list-group-item">Создание зеркальных иконок</li>
            <li class="list-group-item">Создание иконок гитхаба</li>
            <li class="list-group-item">Создание видоизмененной старой версии капчи</li>
            <li class="list-group-item">Создание зеркальных иконок</li>
            <li class="list-group-item">Создание пиксилизированных фотографий</li>
            <li class="list-group-item">Создание ЧБ пиксилизированных фотографий</li>
            <li class="list-group-item">Создание эффекта Вороного</li>
            <li class="list-group-item">Создание фотографий с эффектом Вороного</li>
            <li class="list-group-item">Создание моно эффекта Вороного</li>

        </ul>
    </div>
    <form action="" method="post" enctype = "multipart/form-data">
        {{ form.hidden_tag() }}
        <p>{{ form.pixelnoise() }} {{ form.pixelnoise.label }}</p>
        <p>{{ form.trianglenoise() }} {{ form.trianglenoise.label }}</p>
        <p>{{ form.mirrored() }} {{ form.mirrored.label }}</p>
        <p>{{ form.mirroredgithub() }} {{ form.mirroredgithub.label }}</p>
        <p>{{ form.captcha() }} {{ form.captcha.label }}</p>
        <p>{{ form.pixilise() }} {{ form.pixilise.label }}</p>
        <p>{{ form.monopixilise() }} {{ form.monopixilise.label }}</p>
        <p>{{ form.voronoise() }} {{ form.voronoise.label }}</p>
        <p>{{ form.photo_voronoise() }} {{ form.photo_voronoise.label }}</p>
        <p>{{ form.mono_voronoise() }} {{ form.mono_voronoise.label }}</p>

        <p>
            {{ form.size.label }}<br>
            {{ form.size(class="form-control") }}<br>
            {% for error in form.size.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.num.label }}<br>
            {{ form.num(class="form-control") }}<br>
        </p>
        <p>
            {{ form.porog.label }}<br>
            {{ form.porog(class="form-control") }}<br>
        </p>
        <p>
            {{ form.inp.label }}<br>
            {{ form.inp(class="form-control") }}<br>
        </p>
        <input type = "file" name = "file" />
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>

</body>
</html>